/* 
.add-landlord-main {
    width: 100%;
    min-height: 90vh;
    background-image: url('../images/brick-city.png');
    background-position: center;
    background-size: cover;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
}

.add-landlord-col-2 {
    display: flex;
    justify-content: center;

    overflow: auto;
} */

.addlandlord-root {
    height: 90vh;
    width:100%;
    display: grid;
    grid-template-columns: 0.2fr 1fr 0.2fr;
    background-image: url('../images/brick-city.png');
    background-position: center;
}

.addlandlord-col-2{
    display: flex;
    justify-content: center;
    align-items: center
}

.addlandlord-card {
    height: 500px;
    width: 550px;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 5%;
    background-color: white;
    /* box-shadow: 10px 10px #646161 */
}

.addlandlord-card-col-1 {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 
    /* flex-direction: column;
    align-items: center;
    justify-content: space-evenly; */

}

.addlandlord-card-row-1 {
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addlandlord-card-row-2 {
    grid-row: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addlandlord-card-row-3 {
    grid-row: 3/4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.addlandlord-card-row-4 {
    grid-row: 4/5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addlandlord-card-row-5 {
    grid-row: 5/6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addlandlord-card-row-6 {
    grid-row: 6/7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addlandlord-select {
  width: 50%;
}
.addlandlord-card-row-7 {
    grid-row: 7/8;
    display: flex;
    justify-content: center;
    align-items: center;
}
.addlandlord-card-col-2 {
    background-image: url('../images/man-at-computer.png');
    background-size: cover;
    background-position: center;
    border-radius: 0 5% 5% 0;
}
input {
   border:0;
  border-bottom:1px solid #555;  
  background:transparent;
  width:70%;
  padding:8px 0 5px 0;
  font-size:16px;
  color:black;
}

.addlandlord-btn {
    width: 100px;
    height: 40px;
    color:#fff;
	background-color:#ffadad;
	outline: none;
    border: 0;
    color: #fff;
	text-transform:uppercase;
	/* margin-top:50px; */
	border-radius:2px;
	cursor:pointer;
	position:relative;
}


@media screen and (max-height: 600px){
    .addlandlord-card {
      height: 300px;
      width: 550px;
      
      display: grid;
      grid-template-columns: 1fr 1fr;
      border-radius: 5%;
      background-color: white;
      margin-bottom: 50px;
    }

    button {
    width: 100px;
    height: 25px;
    color:#fff;
	background-color:#1180AC;
	outline: none;
    border: 0;
    color: #fff;
	text-transform:uppercase;
	/* margin-top:50px; */
	border-radius:2px;
	cursor:pointer;
	position:relative;
}
}