.navbar-main {
    height: 64px;
    background-color: #07518A;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr 1fr 0.5fr 0.5fr 0.5fr;
   
}

.navbar-col-1 {
    grid-column: 1/2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 5px;
    padding-left: 15px;
}

.navbar-col-2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav-bar-logo{
    height: 45px;
    width: 300px;
}

.navbar-col-3 {
    
}

.navbar-col-4 {
    
}

.navbar-col-5 {
    
}

.navbar-col-6 {
    
}

.navbar-col-7 {
    display: flex;
    justify-content: center;
    align-items: center;
}
