.signup-page-main {
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    width: 100%;
    min-height: 90vh;
    background-image: url('../images/signup-background.png');
    background-position: center;
    background-size: cover;
}

.signup-col-2 {
    display: flex;
    justify-content: center;
    padding-right: 10%;
    /* padding-top: 10%; */
    overflow: auto;
}

.card-header {
  display: flex;
  justify-content: center;
  color: #4D8ABE;
}

.signup-card {
  width: 125%;
  height: 70%;
  margin-bottom: 100px;
}